@{
    ViewBag.Title = "About";
}
<link href="~/Content/about.css" rel="stylesheet" />

<div class="thumbnail txtContainer1">
    <h1>About</h1>

    <p>
        Learn2Learn is a fully-functioning web application created for our final capstone project at We Can {Code} It bootcamp.

        Using Scrum Methodology a group of four students applied skills in C#, .NET MVC, and front end languages such as Javascript and CSS to develop and deploy this application.

        Learn2Learn allows individuals to take an assessment that identifies their primary learning style (three main learning styles).

        It includes extensive resources and managerial tools to help enhance learning based on your learning style. The purpose is for individuals or organizations to help enhance and streamline learning/training processes.

        Our goal is to help organizations best use their resources to create efficient and results-driven teaching and training materials

        based on their learners' needs. This will help both the organization and student learn more efficiently and provide a better, more

        motivating learning environment.
    </p>
</div>

<div class="thumbnail txtContainer2">
    <h2>Developers</h2>
    <p>Rafee Daanish</p>
    <a href="https://www.linkedin.com/in/rafeedaanish/">linkedin</a>
    <a href="https://rafeed123.github.io/">Portfolio</a>
    <br />
    <p>Austen Perelman-Hall</p>
    <a href="https://www.linkedin.com/in/austenph/">linkedin</a>
    <a href="https://austenph.github.io/">Portfolio</a>
    <br />
    <p>Tatiane Lima-Troxell</p>
    <a href="https://www.linkedin.com/in/tatianetroxell/">linkedin</a>
    <a href="https://tatianetroxell.github.io/">Portfolio</a>
    <br />
    <p>Zack Raycraft</p>
    <a href="https://www.linkedin.com/in/zacharyraycraft/">linkedin</a>
    <a href="http://zackraycraft.github.io/">Portfolio</a>

</div>

<div class="thumbnail txtContainer3">
    <h4>Sources:</h4>
    <p>
        VAK learning © 2017 GP Strategies Corporation
        <br />
        <a href="http://www.onlineeducation.net/2013/05/28/types-of-learning">http://www.onlineeducation.net/2013/05/28/types-of-learning</a>
        <br />
        <a href="https://teach.com/what/teachers-teach/learning-styles/">https://teach.com/what/teachers-teach/learning-styles/</a>
        <br />
        <a href=">http://www.gpstrategiesltd.com/learning-lab/upon-this-rock-i-will-build-my-instructional-design_5.shtml">http://www.gpstrategiesltd.com/learning-lab/upon-this-rock-i-will-build-my-instructional-design_5.shtml</a>
        <br />
        <a href="http://ww2.kqed.org/mindshift/2015/07/15/making-learning-visible-doodling-helps-memories-stick/">http://ww2.kqed.org/mindshift/2015/07/15/making-learning-visible-doodling-helps-memories-stick/</a>
        <br />
        <a href="http://sketcho-frenzy.weebly.com/">http://sketcho-frenzy.weebly.com/</a>
        <br />
        <a href="https://www.education.com">https://www.education.com</a>
        <br />
        <a href="http://medicine.utah.edu">http://medicine.utah.edu</a>
        <br />
        <a href="http://www.whatismylearningstyle.com">http://www.whatismylearningstyle.com</a>
        <br />
        <a href="https://www.learningresources.com">https://www.learningresources.com</a>
        <br />
        <a href="http://learningabledkids.com">http://learningabledkids.com</a>
        <br />
        <a href="http://www.kinestheticlearningstrategies.com/">http://www.kinestheticlearningstrategies.com/</a>
        <br />
        <a href="https://www.scholastic.com/teachers/articles/teaching-content/prek-k-math-games">https://www.scholastic.com/teachers/articles/teaching-content/prek-k-math-games</a>
        <br />
        <a href="https://www.homeschoolacademy.com/homeschooling-resources/learning-style-resources/kinesthetic-learner-resources/">https://www.homeschoolacademy.com/homeschooling-resources/learning-style-resources/kinesthetic-learner-resources/</a>
    </p>
</div>