@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Home.css" rel="stylesheet" />

        <div class="jumbotron hometron">
            @*this is where our jumbotron image is held*@
        </div>


<div class="row">
    <div class="col-md-4">
        <button class="btn btn-default">@Html.ActionLink("Take Assessment", "Create", "Results")</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-default">@Html.ActionLink("View Resources", "Resources", "Home")</button>
    </div>
</div>