@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Learn2Learn</h1>
    <P>This is where our jumbotron and pictures will go</P>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Assessment</h2>
        <button class="btn btn-default">@Html.ActionLink("Take Assessment", "Create", "Results")</button>
    </div>
    <div class="col-md-4">
        <h2>Resources</h2>
        <button class="btn btn-default">@Html.ActionLink("View Resources", "Resources", "Home")</button>
    </div>
</div>