
@{
    ViewBag.Title = "Resources";
}

<h2>Resources</h2>

<h3>Visual Learner Portal</h3>
@Html.ActionLink("Visual Learner", "VisualPortal", "Home")
<h3>Kinesthetic Portal</h3>
@Html.ActionLink("Kinesthetic Learner", "KinPortal", "Home")
<h3>Auditory Portal</h3>
@Html.ActionLink("Auditory Learner", "AuditoryPortal", "Home")
