
@{
    ViewBag.Title = "Resources";
}
<link href="~/Content/ProfilePage.css" rel="stylesheet" />

<div class="container ">
    <div class="well" id="profileHeading">
        <h2>Click a learning style below for more info!</h2>
    </div>
    <div class="well content">
        <div class="row well results">
            <div class="col-md-6">
                <img class="img-responsive" src="~/Content/images/VAKLearningStyles circle.jpg" alt="vakCircle" usemap="#learningCircle">
                <map name="learningCircle" id="learningCircle">
                    <area shape="circle" coords="209,73,65" href="~/home/VisualPortal" alt="Visual">
                    <area shape="circle" coords="103,269,65" href="~/home/AuditoryPortal" alt="Auditory">
                    <area shape="circle" coords="315,270,65" href="~/home/KinPortal" alt="Kinesthetic">
                </map>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="~/Content/images/3types.jpg"/>
            </div>
        </div>
    </div>
</div>