@font-face {
    font-family: 'BondoluoPeek';
    src: url('../BondoluoPeek.ttf') format('truetype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.assessintrofont {
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
}

.assessfont {
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

/*Jumbtron on home page*/
.hometron {
    position:relative;
    top:25px;
    padding-top: 125px;
    padding-bottom: 125px;    
    background-image: url('images/L2L Text w BG.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color:transparent;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h4 {
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

label {
    font-weight: normal;
}

.questions, .hidedata {
    display: none;
}

.next[disabled]
{
    background-color: #808080;
}

#btnSubmit
{
    display: none;
    color: #808080;
}

.show {
    display: contents;
}

.results {
    width: auto;
    
}

.summary {
    display: block;
    text-align: center;
}

.btn-success {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.start_test {
    font-family: 'News Cycle', sans-serif;
    font-size: 18px;
}

.orangefont{
    color: #F89E42;
}

.bluefont {
    color: #18B3A6;
}

.bold {
    font-weight: bold;
}